


body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
header{
    
    text-align: center;
    margin: auto 0;
    color: #505050;
    background-color: #F5F5F5;
    width: 100%;
}
h1{
    margin-top: 0px;
    padding-top: 15px;
}
nav{
    border: solid #f5f5f5 0px ;

}
.nav{
    border: solid #F5F5F5 1px; 
    color:#505050;
    background-color: white;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.nav:hover{
    color:orange;
}
.about{
    line-height: 28px;
}
.profile-img{
    border: solid #f5f5f5;
    text-align: center;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 15px;
}

.about p{
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 0px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: #909090;
    font-size: 17px;
    font-weight: lighter;
}
.portfolio{
    display: block;
    border: solid white 0px;
    border-bottom: solid lightgray 1px;
    color: #505050;
    text-align: center;
    margin: auto 0;
    margin-top: 60px;
    

}
.portfolio h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}
.portfolio h3{
    font-size: 24px;
    font-weight: lighter;
    margin-top: 28px;
    margin-bottom: 15px;
}
.portfolio p{
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 28px;
    color: #505050;
    font-size: 17px;
    font-weight: lighter;
}
.portfolio img{
    display: block;
    border: solid white;
    width: 90%;
    margin-top: 2px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.skills{
    display: block;
    border: solid white 0px;
    color: #505050;
    text-align: center;
    margin: auto 0;
    margin-top: 60px;
}
.skills img{
    display: block;
    border: solid white;
    width: 75%;
    margin-top: 2px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.html{
    color:orangered;
}
.css{
    color:deepskyblue;
}
.contact{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    margin: auto 0;
    color: #505050;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #F5F5F5;
    width: 100%;
}
.contact h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}
.contact p{
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 11px;
    padding-right: 11px;
    line-height: 28px;
    color: #888888;
    font-size: 16px;
    font-weight: lighter;
    
}
.phone-email p{
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 11px;
    line-height: 28px;
    color: #888888;
    font-size: 16px;
    font-weight: lighter;
}
.link{
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 28px;
    color: #505050;
    font-size: 17px;
    font-weight: lighter;
    text-decoration: none;
}
.link:hover{
    color: orange;
}


hr{
    margin: 0 40px 0 40px;
    
}

footer p{
    display:inline-block;
    text-align: center;
    color: #505050;
    font-weight: bold;
    width: 49%;
}
.back-top{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #505050;
    font-weight: bold;
    width: 49%;
}
.footer-nav{
    display: none;
}
footer a:hover{
    color: orange;
}
/*---- media queries ----*/

@media screen and (min-width: 768px){
    .nav{
        display: inline-block;
        background-color:#F5F5F5;
    }
    .about{
        display: inline-block;
    }
    .profile-img{
        width: 40%;
        
    }
    .about p{
        width: 46%;
        margin-top: 54px;
        float: left;
        font-size: 20px;
        padding-left: 30px;
    }
    .column{
        display:inline-block;
        width:48%;
    }
    .skills-img{
        display:inline-block;
        width: 40%
    }
    .contact p{
        padding-left: 120px;
        padding-right: 120px;
        font-size: 24px;
    }
    .link{
        font-size: 24px;

    }
    footer{
        margin-left: 10px;
        margin-right: 10px;
    }
    .back-top{
        display: none;
    }
    footer p{
        width: 25%;
        float: left;
    }
    .footer-nav{
    display: inline-block;   
    text-align: center;
    text-decoration: none;
    color: #505050;
    font-weight: bold;
    font-size: 14px;
    width: 12%;
    float: right;
    padding-top: 14px;
    }

}

@media screen and (min-width: 1024px){
    nav{
        padding-top: 20px;
        margin-bottom: 23px;
    }
    nav h1{
        width: 25%;
        float: left;
        margin-right: 30vw;
    }
    .nav{
        width: 9%;
        text-align: right;
        display: inline-block;
        margin-right: 0px;
        margin-left: 0px;
        border: 0px;
    }
    .profile-img{
        margin-top: 25px;
    }
    .about{
        padding-bottom: 35px;
    }
    .about p{
        margin-top: 24px;
        text-align: left;
    }
    .column{
        display:inline-block;
        width:29%;
    }
}